
<%- include("partials/header"); -%>

<h1>Compose</h1>

<form action="/compose" method="post" class="form-group">

<div>

    <label>Title</label>
<input type="text" name="inputBody" id="in" class="form-control">

    <label>Post</label>
<textarea name="textBody" id="" cols="30" rows="10" class="form-control"></textarea><br>

</div>

<button type="submit" name="submit" class="btn btn-primary">Publish</button>

</form>

<%- include("partials/footer"); -%>

<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, perferendis. Odit laudantium corporis qui iure quaerat at dolorum sapiente ipsum beatae molestias, unde tenetur vero. Laudantium iste quisquam nihil veritatis optio ipsam soluta esse ea distinctio deleniti est atque possimus magni ducimus obcaecati quod neque, inventore nemo dolorum! Sapiente quas est excepturi dolore porro error id facilis, velit sint ab, doloremque ullam adipisci, aliquid nisi. Sapiente sequi aspernatur voluptatibus id, eum perspiciatis eveniet recusandae. Consectetur et aliquam dignissimos est nostrum. Doloremque dolorem repellendus repellat dicta alias soluta maxime veritatis fugiat, qui minus libero, expedita at neque asperiores ex molestias, ab saepe consectetur tempora suscipit natus? Unde, eius. Modi officia fugit et voluptas, rerum deleniti aut numquam iste neque odit quae repudiandae rem corporis voluptatem nulla sit fuga ea earum dolores, mollitia eaque consequuntur labore aliquid. Magnam earum, consectetur nobis quos maiores dolor illo saepe cupiditate aliquam voluptatibus adipisci! Eveniet vero perferendis, ad esse alias suscipit sit nobis dolore, at atque maiores voluptate iste temporibus, corrupti fugit repellendus? Repellendus, vero rerum sequi minima vitae quisquam. Corrupti veniam veritatis vero ipsa rerum a unde consequatur esse aliquid ipsam, perspiciatis voluptate totam odit suscipit laborum perferendis. Mollitia eum porro laborum similique? Sapiente, sit. -->